.img {
	height:40rem;
	max-height: 20rem;
	border-radius: 0.3rem;

}

.contenu {
	background-color: rgb(30,30,30)

}

.post {
	padding: 1rem;
	background-color: rgba(255,255,255,0.4);
	border-radius: 0.8rem;
}

.ticket-review {
	padding: 1rem;
	border: 1px solid;
	border-radius: 0.6rem;
	border-color: rgb(0,0,0);
	background-color: rgba(255,255,255,0.5);
}

.review-headline {
	font-size: 2rem;
}

.horo {
	text-align: right;
	margin-top: 0;
}

.entete-title {
	height: 0.5rem;
}

.action {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

.action-button {
	margin: 2rem;
	width: 20rem;
	border-radius: 0.5rem;

}

a {
	text-decoration: none;
	color: black;
}

.follow {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

.follow-input {
	width: 80%;
}

.rating {
	display: flex;
	flex-direction: row;
	height: 3rem;
	font-size: 2rem;
}


#id_rating {
	display: flex;
	flex-direction: row;
}

.buttons {
	text-align: right;
	margin: 0.5rem;
}
.button {
	background-color: rgb(80,80,80);
	border-radius: 0.4rem;
	border-style: none;

}

.ticket-title {
	font-size: 2rem;
}