{% extends "blog/base.html" %}

{% block content %}
<h2 class="text-center">Création critique</h2>
<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <div id="formulaire-ticket">
        <p>Vous êtes en train de poster en réponse à</p>
        <div class="ticket">
            {% if ticket.user == user %}
                <p>Vous avez publié un ticket</p>
            {% else %}
                <p>{{ ticket.user}} a demandé une critique</p>
            {% endif %}
            <p>{{ ticket.time_created}}</p>             
            </div>
            <p>{{ ticket.title }}</p>
            <p>{{ ticket.description }}</p>
            <img src="{{ ticket.image.url }}" alt="Image du ticket {{ data.1.title}}" style="max-height:300px">
        </div>

    </div>
    <div id="formulaire-review">
        <h3>Critique</h3>
        <div class="form-group">
            <label class="col-md-4 control-label text-center">Titre:</label>
            <div class="col-md-6 w-50 mx-auto">
                {{ form_review.headline }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label text-center">Note:</label>
            <div class="col-md-6 w-50 mx-auto">
                {{ form_review.rating }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label text-center">Commentaire:</label>
            <div class="col-md-6 w-50 mx-auto">
                {{ form_review.body }}
            </div>
        </div>
    </div>
    <button class="button w-10 mx-auto" type="submit">Envoyer</button>
</form>
	
{% endblock %}
