{% extends "blog/base.html" %}

{% block content %}
<h2 class="text-center">Modification critique</h2>
<form id='form' method="post">
    {% csrf_token %}
    <div id="formulaire-ticket">
        <h3>Vous êtes en train de poster en réponse à</h3>
        <div class="review-ticket">
            <div>
                <p>{{ ticket.user }} a demandé une critique </p>
            </div>
            <div>
                <p>{{ ticket.time_created }}</p>
            </div>
            <div class="col-md-6 w-50 mx-auto">
                {{ ticket.title }}
            </div>
            <div class="col-md-6 w-50 mx-auto">
                {{ ticket.description }}
            </div>
            <div class="col-md-6 w-50 mx-auto">
                {{ ticket.image }}
            </div>           
        </div>
    </div>
    <div id="formulaire-review">
        <h3>Critique</h3>
        <div class="form-group">
            <label class="col-md-4 control-label text-center">Titre:</label>
            <div class="col-md-6 w-50 mx-auto">
                {{ form_review.headline }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label text-center">Note:</label>
            <div class="col-md-6 w-50 mx-auto">
                {{ form_review.rating }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label text-center">Commentaire:</label>
            <div class="col-md-6 w-50 mx-auto">
                {{ form_review.body }}
            </div>
        </div>
    </div>
    <button class="button w-10 mx-auto" type="submit">Envoyer</button>
</form>
	
{% endblock %}
